body {
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, "Arial", sans-serif;
  color: #ffffff;
  width: 100%;
  background-color: #849d8f;
  margin: 0;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png"),
    url("../img/ice-cream2.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 138px) 85px, calc(50% + 157px) 124px, top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.site-wrapper-catalog {
  background-color: #849d8f;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration-color: rgba(248, 247, 244, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider {
  position: relative;
  padding-top: 313px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  padding: 12px 44px;
  font-size: 31px;
  line-height: 41px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png"),
    url("../img/ice-cream2.png"),
    url("../img/Подсветка.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream3.png"),
    url("../img/ice-cream4.png"),
    url("../img/Подсветка.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream5.png"),
    url("../img/ice-cream6.png"),
    url("../img/Подсветка.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1~.site-wrapper label:hover[for="product-1"],
#product-2~.site-wrapper label:hover[for="product-2"],
#product-3~.site-wrapper label:hover[for="product-3"] {
  background-color: rgba(225, 255, 255, 0.4);
}

.main-header {
  position: relative;
}

.main-header-logo {
  padding-top: 10px;
  padding-right: 8px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation,
.catalog-submenu,
.promo-list,
.catalog-list,
.features-list,
.basket-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-top: 23px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  vertical-align: middle;
  color: #ffffff;
}

.site-navigation a {
  white-space: nowrap;
  font-weight: bold;
  line-height: 18px;
  padding: 7px 15px;
}

.site-navigation-current {
  color: #ffffff;
  background-color: #f7f6f3;
}

.site-navigation-item-current .current-link {
  background-color: #d07058;
  border-radius: 20px;
  text-decoration: none;
}

.site-navigation-item>a:hover {
  border-radius: 20px;
  background-color: #f7f6f3;
  color: #323232;
  text-decoration: none;
}

.site-navigation-item>a:focus {
  border-radius: 20px;
  background-color: #f7f6f3;
  color: #323232;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105);
  text-decoration: none;
}

.catalog-submenu {
  display: none;
  position: absolute;
  top: 37px;
  background-color: #f7f6f3;
  color: #323232;
}

.catalog-submenu a {
  color: #323232;
  border-radius: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 9px 20px;
  text-decoration: none;
}

.catalog-submenu a:hover {
  background-color: #fbded7;
}

.catalog-submenu a:focus {
  background-color: #f6b5a5;
}

.catalog-submenu-current {
  background-color: #d07058;
}

.catalog-submenu .new {
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 11px;
}

.catalog {
  position: relative;
}

.catalog:hover .catalog-submenu {
  display: block;
  z-index: 1;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 23px;
  margin-left: auto;
}

.user-navigation li {
  margin-right: 10px;
}

.user-navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.user-navigation .user-navigation-button {
  box-shadow: none;
  background-color: #9db1a5;
  background-image: none;
  text-shadow: none;
}

.user-navigation-button:hover:not(.basket-red) svg path,
.user-navigation-button:hover svg circle {
  fill: #323232;
}

.user-navigation .entrance {
  padding: 7px 15px;
}

.user-navigation .entrance svg {
  padding-right: 10px;
}

.user-navigation .basket {
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navigation-item-basket {
  position: relative;
}

.modal-basket {
  display: none;
  top: 36px;
  left: -423px;
  width: 510px;
  padding: 20px 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  z-index: 1;
}

.navigation-item-basket:hover .modal-basket {
  display: block;
}

.modal-basket .basket-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 20px;
}

.modal-basket .basket-item:last-child {
  border-bottom: 1px solid #cacac7;
  margin-bottom: 15px;
}

.modal-basket img {
  padding-left: 27px;
  margin-right: 15px;
  align-self: flex-start;
}

.modal-basket h3 {
  position: relative;
  width: 220px;
  margin-right: 26px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.modal-basket h3::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/Х.png");
  width: 11px;
  height: 11px;
  left: -73px;
  top: 10px;
}

.modal-basket .price-kg {
  width: 100px;
  padding-top: 10px;
  margin-right: 22px;
}

.modal-basket .price {
  padding-top: 10px;
}

.modal-basket .total {
  display: block;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 13px;
}

.modal-basket .order-button {
  display: block;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 15px;
}

.basket svg {
  padding-right: 8px;
}

.navigation-item-basket .basket-red {
  background-color: #f7f6f3;
  color: #323232;
}

.basket-red .basket-img {
  display: none;
}

.basket-red .basket-img-red {
  display: block;
}

.basket-empty .basket-img-red {
  display: none;
}

.user-navigation .search {
  border-radius: 50%;
  padding: 8px;
}

.contacts {
  position: absolute;
  right: 0;
  text-align: right;
  top: 69px;
}

.contacts .working-hours {
  font-size: 14px;
  line-height: 16px;
}

.contacts .phone {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.promo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 560px;
  border-radius: 15px;
}

.promo-list .chocolate {
  background-image: url("../img/chocolate.jpg");
  background-color: #633b27;
}

.promo-list .raspberries {
  background-image: url("../img/raspberries.jpg");
  background-color: #88062f;
}

.promo-list h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 17px;
}

.promo-list p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -2px;
  margin-bottom: 44px;
}

.promo-list button {
  align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
  margin-right: 20px;
  margin-bottom: 23px;
  padding: 11px 23px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item img {
  margin-bottom: 12px;
}

.catalog-list .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-list b {
  font-size: 30px;
  line-height: 45px;
}

.catalog-list .price-kg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 210px;
}

.catalog-list .item-tittle {
  display: block;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.catalog-list h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
  width: 257px;
}

.catalog-list a:hover,
.catalog-list a:focus {
  color: #ffbc9e;
}

.hit-list .catalog-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item .item-hover {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: flex-end;
  top: -6px;
  left: -13px;
  width: 293px;
  height: 405px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 2;
}

.catalog-item:hover .item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.item-hover .item-button {
  margin-bottom: 20px;
}

.features {
  background-color: #e9dec5;
  background-image: url("../img/waffles.png");
  border-radius: 20px;
  color: #323232;
  margin-bottom: 40px;
}

.features .description {
  font-size: 24px;
  line-height: 30px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 13px;
  padding-bottom: 21px;
  margin: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.features .feature-item {
  box-sizing: border-box;
  width: 573px;
}

.features .feature-item:nth-child(2n+1) {
  padding-left: 76px;
}

.features .feature-item:nth-child(2n) {
  padding-left: 70px;
}

.feature-comment {
  position: relative;
  margin: 0;
  padding-right: 18px;
  padding-bottom: 23px;
}

.features-list .feature-comment:before {
  content: "";
  position: absolute;
  left: -56px;
  top: -14px;
  display: block;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.own-production:before {
  background-image: url("../img/ice-cream.svg");
}

.farm:before {
  background-image: url("../img/cow.svg");
}

.natural:before {
  background-image: url("../img/eco.svg");
}

.thermopack:before {
  background-image: url("../img/thermometer.svg");
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px;
}

.blog {
  width: 570px;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  border-radius: 20px;
  color: #323232;
  margin-right: 26px;
}

.blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 6px;
  margin: 0;
}

.blog .blog-link {
  display: block;
  font: inherit;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 20px;
  padding-bottom: 81px;
  width: 282px;
}

.blog-link:hover,
.blog-link:focus {
  color: #ffbc9e;
}

.subscription {
  width: 560px;
  border-radius: 20px;
  background-color: #f8f7f4;
  color: #5a5a5a;
  border: 5px solid #fe9e90;
  border-image: url("../img/bg-post.svg") 5;
}

.subscription .comment {
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.subscription input {
  font: inherit;
  color: #323232;
  line-height: 18px;
  box-sizing: border-box;
  width: 367px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 12px 15px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.subscription-form ::-webkit-input-placeholder, .modal-feedback ::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
}

.subscription-form ::-moz-placeholder, .modal-feedback ::-moz-placeholder {
  color: 999999;
  font-size: 16px;
}

.subscription-form :-ms-input-placeholder, .modal-feedback :-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
}

.modal:not(.modal-feedback) ::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
}

.modal:not(.modal-feedback) ::-moz-placeholder {
  color: #999999;
  font-size: 14px;
}

.modal:not(.modal-feedback) :-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
}

.subscription input:hover {
  border: 2px solid #c7c6c5;
  padding: 11px 14px;
}

.subscription input:focus {
  border: 2px solid #8fbdec;
  padding: 11px 14px;
}

.subscription .subscription-button {
  padding: 10px 18px;
  font-size: 18px;
  line-height: 24px;
}

.address {
  position: absolute;
  top: 60px;
  right: 23px;
  box-sizing: border-box;
  width: 305px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  padding: 30px 25px;
}

.address b {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.phone b {
  padding-top: 3px;
}

.office-address {
  margin: 0;
  padding-bottom: 20px;
}

.phone {
  margin: 0;
  padding-bottom: 25px;
}

.address .button {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 27px;
}

.map {
  position: relative;
  width: 1200px;
  margin-left: -27px;
  margin-bottom: -6px;
}

.map iframe {
  position: absolute;
  border: 0;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 6px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0;
}

.filters {
  width: 880px;
  margin-bottom: 20px;
}

.filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  padding-left: 15px;
  color: #ffffff;
}

.filter-sorting {
  width: 195px;
}

.filter fieldset {
  padding: 0;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 17px;
  margin-left: 0;
  border: none;
}

.filter-button {
  background-color: #a9b9af;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  line-height: 18px;
  border: none;
}

.sorting-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 32px;
  padding-left: 11px;
  outline: none;
}

.sorting-select::-ms-expand {
  display: none;
}

.filter-sorting svg {
  position: absolute;
  top: 36px;
  left: 168px;
}

.filter-sorting:hover svg path {
  fill: #323232;
}

.sorting-select:hover {
  color: #323232;
  background-color: #9db1a5;
}

.sorting-select:focus {
  color: #323232;
  background-color: #ffffff;
}

.fieldset-background {
  position: relative;
  background-color: #a9b9af;
  border-radius: 50px;
}

.scale-price .fieldset-background {
  width: 218px;
  height: 36px;
}

.fieldset-background .scale {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 176px;
  height: 3px;
  background: rgba(248, 247, 244, 0.5);
}

.fieldset-background .bar {
  width: 78px;
  ;
  height: 3px;
  background-color: #f8f7f4;
  margin-left: 33px;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  top: 7px;
  left: 132px;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 34px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.fat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.fat-fieldset .fieldset-background {
  padding-left: 46px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.fat-list .fat-item {
  position: relative;
  margin-right: 50px;
}

.fat-list .fat-item:last-child {
  margin-right: 0;
}

.filter-input+label::before,
.filter-input:checked+label::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio+label::before {
  width: 25px;
  height: 25px;
  left: -34px;
  top: -4px;
  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked+label::after {
  width: 25px;
  height: 25px;
  left: -34px;
  top: -4px;
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:checked+label::before {
  display: none;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:hover+label::after {
  opacity: 1;
}

.filter-input-radio:disabled+label::before,
.filter-input-radio:disabled+label::after {
  opacity: 0.4;
}

.filter-input-checkbox+label::before {
  width: 23px;
  height: 23px;
  left: -34px;
  top: -4px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked+label::after {
  width: 27px;
  height: 23px;
  left: -34px;
  top: -4px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked+label::before {
  display: none;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:hover+label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled+label::before,
.filter-input-checkbox:disabled+label::after {
  opacity: 0.4;
}

.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:focus+label::after,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:focus+label::after {
  background-color: rgba(255, 255, 255, 0.8);
}

.filler-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.filler-fieldset .fieldset-background {
  padding-left: 48px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.filler-list .filler-item {
  position: relative;
  margin-right: 53px;
}

.filler-list .filler-item:last-child {
  margin-right: 0;
}

.filter .submit-fieldset {
  margin-top: 22px;
}

.submit-button {
  border: 2px solid #ffffff;
  padding-left: 28px;
  padding-right: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.submit-button:hover {
  color: #323232;
  background-color: #fbfcfb;
}

.submit-button:focus {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
  border: none;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 30px;
  list-style: none;
}

.pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.pagination-item:last-child::after {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  margin-left: 15px;
}

.pagination-item:first-child::before {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  margin-right: 23px;
}

.pagination-item a,
.pagination-item a:focus,
.pagination-item a:active {
  display: block;
  border-radius: 50%;
  color: #ffffff;
  padding-top: 2px;
  padding-right: 9px;
  padding-bottom: 2px;
  padding-left: 9px;
}

.pagination-item a:hover {
  background-color: rgba(248, 247, 244, 0.2);
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.inner-page .main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 320px;
}

.footer-social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding-top: 36px;
  padding-left: 0;
}

.social-button {
  display: block;
  margin-right: 13px;
  background-color: #849d8f;
  height: 32px;
  border: 3px solid #bac8c0;
  border-radius: 50%;
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:focus path {
  fill: #e9e9e9;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  padding-top: 34px;
  padding-bottom: 34px;
  margin-left: -80px;
}

.footer-links .links-left {
  width: 142px;
}

.footer-links .links-right {
  width: 170px;
}

.footer-links a {
  display: block;
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 4px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.footer-links .heart {
  position: relative;
}

.footer-links .heart::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 3px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
}

.footer-copyright {
  padding-bottom: 31px;
  align-self: flex-end;
}

.footer-copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright .copyright-link {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright .copyright:hover path,
.footer-copyright .copyright:focus path {
  fill: #ffbc9e;
}

.footer-copyright .copyright-link:hover,
.footer-copyright .copyright-link:focus {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.modal {
  position: absolute;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.modal-login {
  display: none;
  top: 65px;
  left: 50%;
  margin-left: 188px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 22px;
  z-index: 1;
}

.navigation-item-entrance:hover .modal-login {
  display: block;
  z-index: 1;
}

.login-form>p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing-box: border-box;
  box-sizing: border-box;
  width: 240px;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-entrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.login-form .login-help {
  margin: 0;
}

.login-help a {
  display: block;
  font: inherit;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: rgba(173, 172, 170, 0.3);
}

.login-help a:hover,
.login-help a:focus {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.login-entrance-button {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 15px;
}

.modal input {
  font: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing-box: border-box;
  box-sizing: border-box;
  padding: 12px 15px;
  color: #323232;
  line-height: 18px;
  border: 1px solid rgba(173, 172, 170, 0.3);
  border-radius: 5px;
  min-height: 46px;
}

.modal input:hover {
  border: 2px solid #c7c6c5;
}

.modal input:focus {
  border: 2px solid #8fbdec;
}

.modal-search {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing-box: border-box;
  box-sizing: border-box;
  width: 341px;
  padding: 20px 16px;
  top: 65px;
  left: 50%;
  margin-left: 18px;
  z-index: 1;
}

.navigation-item-search:hover .modal-search {
  display: block;
  z-index: 1;
}

.search-form>p {
  margin: 0;
}

.search-form input[type="text"] {
  width: 310px;
}

.modal-feedback {
  position: fixed;
  display: none;
  width: 429px;
  padding-left: 24px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 22px;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -150px;
  z-index: 1;
}

.modal-feedback.modal-open {
  display: block;
}

.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 24px;
}

.feedback-form>p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form .comment {
  -webkit-box-sizing: border-box;
  -moz-box-sizing-box: border-box;
  box-sizing: border-box;
  width: 428px;
  padding: 12px 15px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border: 1px solid rgba(173, 172, 170, 0.3);
  border-radius: 5px;
  min-height: 164px;
  resize: none;
}

.feedback-form input[type="text"] {
  width: 267px;
}

.feedback-form .comment:hover {
  border: 2px solid #c7c6c5;
}

.feedback-form .comment:focus {
  border: 2px solid #8fbdec;
}

.feedback-button {
  display: block;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 23px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
